<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Jadwal MBWG</title>
  </head>
  <body>
    <form method="post" action="/createSched">
      Tanggal(yyyy-mm-dd): <input type="text" name="Tanggal" placeholder="Tanggal"/> <br/>
      Kegiatan: <input type="text" name="Kegiatan" placeholder="Kegiatan"/> <br/>
      Tempat:  <input type="text" name="Tempat" placeholder="Tempat"/> <br/>
      Keterangan:  <input type="text" name="Keterangan" placeholder="Keterangan"/> <br/>
      Person In Charge(PIC):  <input type="text" name="PIC" placeholder="PIC"/> <br/>
      <input type="submit" value="Add Schedule"/>
    </form>
  </body>
  </html>